[metis]
user=metis
group=metis

dbHost=localhost
dbUser=metis
dbPassword=blaBlaBla
dbName=metis

[metis-manager]
log=/var/log/metis/manager
logLevel=4
logStdout=on

; Cache parameters
cacheSize=128M
itemHeadersCacheSize=12M
itemsInLine=32768
minHitsToCache=1


[metis-storage]
; Overwrite user & group
user=metis
group=metis

log=/var/log/metis/storage
logLevel=4
logStdout=on
